@import "values";

@import "pages/all";

@import "elements/dropdowns";
@import "elements/tabs";
@import "elements/alerts";
@import "elements/notifications";
@import "elements/chat";
@import "elements/header";
@import "elements/sidebar";

@import "elements/shopping-cart";

body:has(.home-container) {
  @import "pages/home";
}

#settings-container {
  @import "pages/settings";
}

.profile-container {
  @import "pages/profile";
}

body:has(.catalog-container) {
  @import "pages/catalog";
}

body:has(#item-container.library-item) {
  @import "pages/item/gamepass";
}

body:has(#item-container[data-item-type="Asset"]) {
  @import "pages/item/catalog";
}

@import "pages/game-card/main";