$black-1: #0a0b0b;
$black-2: #191b1d;
$black-3: #1e2022;
$black-4: #232527;
$black-5: #2d2f31;
$black-6: #393b3d;
$black-7: #656668;

$blue: #00a2ff;

$padding: calc(1.2rem);
$border-radius-3: 8px;
$border-radius-2: calc($padding + $border-radius-3 - 10px);
$border-radius-1: calc($padding + $border-radius-2 - 10px);