@import "../values";

.section-content::before {
  display: none;
}

.content .section-content {
  padding: $padding !important;
  border-radius: $border-radius-1 !important;
  background: $black-5 !important;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem
}

.thumbnail-holder {
  border-radius: $border-radius-2 !important;
}

.item-details-info-content {
  display: flex;
  flex-direction: column;
}

.item-details-info-content > * {
  width: 100%;
}

.item-social-container {
  flex-basis: 100%;
}

#item-details {
  width: auto;
  padding: $padding !important;
  border-radius: $border-radius-1 !important;
  background: $black-4 !important;
}