@import "../values";

.left-wrapper-placeholder {
  width: calc(277px + $padding * 2);
}

#wrap.pinned .left-wrapper {
  position: static !important;
}

.left-wrapper {
  padding: $padding;
  background: $black-6;
  border-radius: $border-radius-1;

  width: 100%;
}

.content.six-column {
  width: 1135px;
}

.right-panel.six-column {
  width: calc(100% - (242px + $padding * 2) - 50px);
}


.tab-content.rbx-tab-content {
  padding: $padding;
  background: $black-6;
  border-radius: $border-radius-1;
  width: 100%;
}

.right-wrapper,
.right-wrapper-placeholder {
  height: fit-content !important;
}

.item-card-thumb-container {
  background: $black-5 !important;
  padding: calc($padding / 2);
  border-radius: 8px;
}

.tab-horizontal-submenu {
  box-shadow: 0 0 32px rgb(0, 0, 0, 0.7) !important;
  border: none !important;
  border-radius: $border-radius-2;
  padding-top: $padding;
  transform: translateY(-20px);
  width: calc(805px) !important;
}