@import "../values";

/* Settings */

ul.menu-vertical {
  background: transparent !important;
  border-radius: $border-radius-2;
  overflow: hidden;
}

ul.menu-vertical .active {
  background: $black-6 !important;
}

ul.menu-vertical .menu-option-content {
  box-shadow: none !important;
  background: $black-5;
}

ul.menu-vertical .menu-option:hover {
  background-color: $black-6 !important;
  box-shadow: none !important;
}

.tab-content.rbx-tab-content {
  padding: $padding;

  background-color: #2b2d2f;
  border-radius: 16px;
}

.section-content {
  margin-bottom: 0;
}