@import "../values";

.modal-content {
  border-radius: $border-radius-1 !important;

  backdrop-filter: blur(12px);
  background: rgba($black-6, 80%) !important;

  .modal-header {
    padding: $padding !important;
  }

  .modal-body {
    padding: $padding !important;
  }

  .modal-footer {
    margin: 0 !important;
    padding: 0 $padding $padding !important;

    .modal-buttons {
      &::before, &::after {
        display: none
      }

      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;

      gap: $padding;

      button {
        margin: 0 !important;
        border-radius: $border-radius-3 !important;
      }
    }
  }
}